@import "tailwindcss";

:root {
  --background: #F5F5DC;       /* beige clair */
  --foreground: #333333;       /* noir doux */

  --accent: #F7E6E0;           /* rose poudré */
  --accent-dark: #C9A9A6;      /* rose vintage */
  --button-bg: #D6C7B0;       /* beige doré */
  --button-hover: #C9A9A6;     /* rose vintage hover */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);

  background-image: url('/pattern-bg.png');
  background-repeat: repeat;
  background-size: contain;
  background-attachment: fixed;
}


